body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 194, 194);
    margin: 0;
}
.hero{
    background-image: url(../img/bg-1.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top ;
    background-size:cover;
    width: auto;
    border-top: 1px solid transparent;
    padding-bottom: 100px;
    
}
.hero nav ul{
    text-align: right;
    margin:20px 50px 0 0;
}
.hero nav a{
    display:block;
    background: rgba(0,0,0,0.3);
    padding:15px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}
.hero nav a:hover{
    background: rgba(0,0,0,0.5)
}
.hero-content{
    font-size: large;
    text-align: center;
    color:white;
    margin-top: 250px;
    margin-right: 100px;
    
}
.hero-content h1{
    text-transform: uppercase;
    text-shadow:3px 3px 5px black;
    font-size: 46px;
    text-align: center;

}
.hero-content p{
    font-size: 25px;
    background-color: rgba(137, 134, 134,0.3);
    padding-top:10px;
    padding-bottom: 10px;
    margin-left: 500px;
    margin-right: 500px;
    border-bottom: solid 5px rgba(106, 105, 105,0.50);
    text-align: center;
    
    
}
.list{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    margin-left: 10px;
    

}
main{
    width:80%;
    margin:auto;
}
.content1{
    background-color: honeydew;
    padding: 15px;
    margin-top: 15px;
}
.content2{
    background-color:honeydew;
    margin-top:15px;
    padding: 15px;
}
.content2 h2{
    background-color:rgba(99, 94, 94, 0.2);
    font-size: 25px;
    padding: 9px;
    margin-top: 0.005px;
    margin-right: auto;
    border-bottom:solid 3px gray;
    
}
footer{
    background-color:rgba(106, 99, 99, 0.100);
    padding:20px;
    margin-top: 15px;
    text-align: center;
    text-shadow: 3px 3px 5px;
    
}


